version: '3.9'

services:
  app:
    build:
      context: .
      target: production
    environment:
      - DB_URL=${DB_URL}
      - DB_NAME=${DB_NAME}
      - USER=${USER}

  mongodb:
    image: mongo:latest
    restart: unless-stopped
    ports:
      - '27017:27017'
